html {
  height: 100%;
  min-height: 100%;
}


/* header section */
#nav {
  display: grid;
  grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
  grid-template-rows: 50px;
  grid-template-areas: "about store . gmail images menu sign-in";
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
  }
#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
  }
#gmail {
  grid-area: gmail;
  justify-self: center;
  align-self: center;
  }
#images {
  grid-area: images;
  justify-self: center;
  align-self: center;
  }
#menu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
  }
#sign-in {
   grid-area: sign-in;
   justify-self: center;
   align-self: center;
  }
  
/* Center of Page */

#searchsec {
   min-height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 250px 70px 70px 250px;
   grid-template-areas: ". logo . " ". search ." ". flexbox ." ". google-text .";
}

#logo {
   grid-area: logo;
   justify-self: center;
   align-self: end;
}

#search {
   grid-area: search;
   height: 30px;
   align-self: center;
}

#flexbox {
   display: flexbox;
   grid-area: flexbox;
   justify-self: center;
   align-self: center;
}

#google-search-btn {
   padding: 10px 15px 10px 15px;
   margin: 5px;
   color: 707070;
   background-color: #E8E8E8;
   border: 1px solid #E8E8E8;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
}

#dumb-search {
   padding: 10px 15px 10px 15px;
   margin: 5px;
   color: 707070;
   background-color: #E8E8E8;
   border: 1px solid #E8E8E8;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
}

#google-text {
   grid-area: google-text;
   justify-self: center;
}

/* Footer section */
#footer {
   display: grid;
   position: absolute;
   left: 10;
   bottom: 10;
   width: 100%;
   grid-template-columns: 100px 100px 1fr 100px 100px;
   grid-template-areas: "advertising business searchfaq . privacy terms settings";
}
