html {
  height: 100%;
  min-height: 100%;
}

#nav {
  display: grid;
  grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
  grid-template-rows: 50px;
  grid-template-areas: "about store . gmail image menu sign-in";
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
  }
#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
  }
#gmail {
  grid-area: gmail;
  justify-self: center;
  align-self: center;
  }
#images {
  grid-area: image;
  justify-self: center;
  align-self: center;
  }
#menu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
  }
#sign-in {
   grid-area: sign-in;
   justify-self: center;
   align-self: center;
  }
  
  #header {
    justify-content: space-evenly;
  }
